<!DOCTYPE html>
<html class="ng-scope js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title>Angle - Angular Bootstrap Admin Template</title>
    <link rel="stylesheet" href="{{ asset('admin/build/css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('admin/vendor/fontawesome/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('admin/vendor/simple-line-icons/css/simple-line-icons.css') }}">
    <!-- Application styles-->
    <link rel="stylesheet" href="{{ asset('admin/build/css/app.css') }}">
</head>
<body>
<div class="ng-zoomBackDown ng-fluid ng-scope" autoscroll="false">
    <div class="abs-center wd-xl ng-scope">
        <div class="text-center mb-xl">
            <div class="text-lg mb-lg">{{ status_code }}</div>
            <p class="lead m0">{{ status_text }}</p>
            <p>{{ exception_message }}</p>
        </div>
        <ul class="list-inline text-center text-sm mb-xl">
            <li>
                <a class="text-muted" href="{{ path('araneum_manage_main') }}">Go to App</a>
            </li>
            <li class="text-muted">|</li>
            <li>
                <a class="text-muted" href="{{ path('araneum_manage_login') }}">Login</a>
            </li>
            <li class="text-muted">|</li>
            <li>
                <a class="text-muted" href="{{ path('araneum_manage_login') }}">Register</a>
            </li>
        </ul>
        <div class="p-lg text-center">
            <span>©</span>
            <span class="ng-binding">{{ "now"|date("Y") }}</span>
            <span>-</span>
            <span class="ng-binding">Araneum</span>
        </div>
    </div>
</div>
</body>
</html>