{% extends "AraneumUserBundle:Resetting:resettingBase.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('static/css/style.css') }}"/>
{% endblock %}

{% block panel_header %}
    {{ 'sign_in'|trans }} {{ 'to'|trans }}
{% endblock panel_header %}

{% block panel_body %}
    <div class="panel-body">
        <form role="form" action="{{ path("fos_user_security_check") }}" id="loginForm" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <fieldset>
                <div class="row">
                    <div class="center-block">
                        <img class="profile-img"
                             src="{{ asset('static/images/no-user.png') }}" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input class="form-control" placeholder="{{ 'username'|trans }}"
                                       name="_username" type="text" id="name" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input class="form-control" placeholder="{{ 'password'|trans }}"
                                       name="_password" type="password" id="password" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="pull-left">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                    {{ 'remember_me'|trans }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-primary btn-block"
                                   value="{{ 'sign_in'|trans }}">
                        </div>
                    </div>
                </div>
                <div id="msgbox" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger alert-dismissible {{ error ? '' : 'hidden' }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% if error %}
                        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock panel_body %}

{% block panel_footer %}
    <a href="{{ path("fos_user_resetting_request") }}">{{ 'recovery_password'|trans }}</a>
{% endblock panel_footer %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('static/js/validateLogin.js') }}"></script>
{% endblock %}