{% block user_block %}
    <div class="popover-title">
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    </div>
    <li role="presentation">
        <a href="{{ url('araneum_user_user_profileShow') }}"><i
                    class="glyphicon glyphicon-user fa-fw"></i> {{ 'profile'|trans({}) }}</a>
    </li>
    <li role="presentation">
        <a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out fa-fw"></i> {{ 'logout'|trans({}) }}
        </a>
    </li>
{% endblock %}